<script src="/assets/uikit/js/uikit.min.js"></script>
<script src="/assets/uikit/js/uikit-icons.min.js"></script>
<script src="/assets/js/style.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/zoom.js"></script>
<script>
    function number(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

    $(document).ready(function() {
        $("#confirmed").html(number(0));
        $("#recovered").html(number(0));
        $("#deaths").html(number(0));
        $("#lastUpdate").html("-");
        $.ajax({
            url: "https://covid19.mathdro.id/api/countries/indonesia",
            success: function(result) {
                $("#confirmed").html(number(result.confirmed.value));
                $("#recovered").html(number(result.recovered.value));
                $("#deaths").html(number(result.deaths.value));
                let date = new Date(result.lastUpdate);
                $("#lastUpdate").html(date.getHours()+":"+date.getMinutes()+" WIB");
            }
        })
    });
</script>
