<script src="/assets/uikit/js/uikit.min.js"></script>
<script src="/assets/uikit/js/uikit-icons.min.js"></script>
<script src="/assets/js/feather.min.js"></script>
<script src="/assets/js/style.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/zoom.js"></script>
<script>
    function number(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    $(document).ready(function(){
        $.ajax({
            url: "https://covid19.mathdro.id/api/countries/indonesia", success: function(result){
                $("#positif").html(number(result.confirmed.value));
                $("#sembuh").html(number(result.recovered.value));
                $("#meninggal").html(number(result.deaths.value));
            }});
    });
</script>
