<h1>👋 Halu World!</h1>
<h2>I'm <span class="pretty"><b>{{ site.name }}</b></span></h2>
<blockquote>
    <h5 class="uk-text-bold uk-padding-remove-top uk-margin-small-top">
        People who are always on the move, but never settle for less.
    </h5>
</blockquote>
<div id="announcement-banner" class="uk-card uk-card-default uk-card-body uk-alert-primary" uk-alert>
    <p class="uk-padding-remove-top uk-margin-remove-top">
        Hello, how are you? What happen today? Wish you have the best right now. It's me, {{ site.name }}. A young man and energic but just a mere human, who still pursuing my dreams.
        Let us know more, and be friend for sake of humanity and freedom 😁🎉
    </p>
    <p class="uk-padding-remove-top uk-margin-remove-top">
        I'm from Pematangsiantar, Indonesia and now live in Jakarta, currently working as iOS Developer on a Indonesia-based company. I don’t have important things to do except sitting in front of my laptop. <b>I'm interested in programming</b>, <b>photography</b>, and <b>UI/UX design</b>, I also like to watch movies and listening musics.
    </p>

    <p class="uk-padding-remove-top uk-margin-remove-top">
        Maybe that the things if you want to know me more wkwkwk.
    </p>
</div>
<ul uk-accordion="">
    <li class="uk-open">
        <a class="uk-accordion-title fs-1rem" href="#"><span class="uk-margin-small-right">🖥</span> I Love coding and programming</a>
        <div class="uk-accordion-content">
            I'm so interested in coding and programming since 2015. Now I'm currently working as iOS Developer and working with Swift and learn with all programming language that help me to build a good apps.
        </div>
    </li>
    <li>
        <a class="uk-accordion-title fs-1rem" href="#"><span class="uk-margin-small-right">🗺</span> I'm currently located in Jakarta, Indonesia.</a>
        <div class="uk-accordion-content">
            <p>I was born in June 2000 and raised in North Sumatra. Since December 2019, I moved to the capital city of Indonesia: Jakarta.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title fs-1rem" href="#"><span class="uk-margin-small-right">🙌</span> Just my favourite quote.</a>
        <div class="uk-accordion-content">
            <blockquote>
                <p>"He who experiences the unity of life sees his own Self in all beings,<br/>
                and all beings in his own Self, and looks on everything with an impartial eye."</p>
                <p>― Buddha</p>
            </blockquote>
        </div>
    </li>
</ul>
