<h1>👋 Halu World!</h1>
<h2>My name is {{ site.name }}</h2>
<blockquote>
    <h3 class="fs-16 uk-padding-remove-top uk-margin-small-top">
        {{ site.description }}
    </h3>
</blockquote>
<div id="announcement-banner" class="uk-alert-primary uk-box-shadow-small" uk-alert>
    <p class="uk-padding-remove-top uk-margin-remove-top">
        Hello, how are you? What happen today? Wish you have the best right now. It's me, {{ site.name }}. A young man and energic but just a mere human, who still pursuing my dreams.
        Let us know more, and be friend for sake of humanity and freedom 😁
    </p>
    <p class="uk-padding-remove-top uk-margin-remove-top">
        I'am from Pematangsiantar, Indonesia and now live in Jakarta, currently working as iOS Developer on a Indonesia-based company. I don’t have important things to do except sitting in front of my laptop. I'am interested in programming, photography, and UI/UX, I also like to watch movies and listening musics.
    </p>

    <p class="uk-padding-remove-top uk-margin-remove-top">
        Maybe that the things if you want to know me more wkwkwk.
    </p>
</div>
<ul uk-accordion="">
    <li>
        <a class="uk-accordion-title code" href="#">I Love Coding and Programming</a>
        <div class="uk-accordion-content">
            I'am so interested in coding and programming since 2015. Many people says it's hard to learn, but until now it's still be my hobbies and i'am so happy to do this XD
        </div>
    </li>
    <li>
        <a class="uk-accordion-title code" href="#">I'am currently located in Jakarta, Indonesia.</a>
        <div class="uk-accordion-content">
            <p>I was born in 2000 and raised in North Sumatra, since 2019 I moved to the capital city of Indonesia: Jakarta.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title code" href="#">Just my favourite quote.</a>
        <div class="uk-accordion-content">
            <blockquote>
                <p>"He who experiences the unity of life sees his own Self in all beings,<br/>
                and all beings in his own Self, and looks on everything with an impartial eye."</p>
                <p>― Buddha</p>                    
            </blockquote>
        </div>
    </li>
</ul>
