<nav class="uk-margin uk-margin-remove-bottom" uk-navbar>
    <div class="uk-float-left">
        <div class="uk-navbar-item uk-visible@l">
            <img class="uk-border-circle" src="https://github.com/erwindosianipar.png?size=50" alt="{{ site.name }}"
                width="36">
            <span class="uk-text-bold nav-title">{{ site.title }}</span>
        </div>
        <div class="uk-navbar-item uk-hidden@l">
            <a href="#sidenav-open" class="menu uk-icon-button" onclick="toggleSidenav()"><span
                    uk-icon="menu"></span></a>
        </div>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <span onclick="toggleDisplayMode()" id="display-mode-toggle" class="uk-padding-small switcher">Dark mode</span>
        </div>
    </div>
</nav>