<div class="uk-light uk-background-custom" id="sidenav">
    <div class="uk-padding-small uk-margin-small-top">
        <img class="uk-border-circle" src="https://github.com/erwindosianipar.png?size=50" alt="{{ site.name }}"
            width="36">
        <span class="uk-text-bold uk-margin-small-left">{{ site.title }}</span>
        <a href="#sidenav-close" class="uk-float-right uk-hidden@l" onclick="toggleSidenav()">
            <button type="button" class="uk-icon-button uk-margin-remove" uk-close></button>
        </a>
    </div>
    <div class="uk-padding-small uk-text-uppercase">Site Map</div>
    <ul class="uk-nav-default" uk-nav="">
        <li {% if page.url == "/" %} class="active" {% endif %}><a href="/"><span class="uk-margin-right" uk-icon="home"></span>Home</a></li>
        <li {% if page.url == "/about/" %} class="active" {% endif %}><a href="/about"><span class="uk-margin-right" uk-icon="info"></span>About</a></li>
        <li {% if page.url == "/contact/" %} class="active" {% endif %}><a href="/contact"><span class="uk-margin-right" uk-icon="user"></span>Contact</a></li>
        <li {% if page.url == "/resume/" %} class="active" {% endif %}><a href="/resume"><span class="uk-margin-right" uk-icon="file-pdf"></span>Resume</a></li>
        <li {% if page.url == "/project/" %} class="active" {% endif %}><a href="/project"><span class="uk-margin-right" uk-icon="folder"></span>Project</a></li>
        <li {% if page.url == "/blog/" %} class="active" {% endif %}><a href="/blog"><span class="uk-margin-right" uk-icon="file-edit"></span>Blog</a></li>
        <li><a href="//erwindosianipar.github.io/"><span class="uk-margin-right" uk-icon="file-text"></span>Notes</a></li>
        <li {% if page.url == "/award/" %} class="active" {% endif %}><a href="/award"><span class="uk-margin-right" uk-icon="star"></span>Award</a></li>
        <li><a href="/feed.xml"><span class="uk-margin-right" uk-icon="rss"></span>Feed</a></li>
    </ul>
    <div class="uk-padding-small uk-text-uppercase">Other Link</div>
    <ul class="uk-nav-default uk-margin-medium-bottom" uk-nav="">
        <li>
            <a href="https://www.facebook.com/{{ site.username_alt }}">
                <span class="uk-margin-right" uk-icon="facebook"></span> Facebook
            </a>
        </li>
        <li>
            <a href="https://twitter.com/{{ site.username }}">
                <span class="uk-margin-right" uk-icon="twitter"></span> Twitter
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/{{ site.username }}">
                <span class="uk-margin-right" uk-icon="instagram"></span> Instagram
            </a>
        </li>
        <li>
            <a href="https://github.com/{{ site.username }}">
                <span class="uk-margin-right" uk-icon="github"></span> GitHub
            </a>
        </li>
        <li>
            <a href="https://id.linkedin.com/in/{{ site.username }}">
                <span class="uk-margin-right" uk-icon="linkedin"></span> LinkedIn
            </a>
        </li>
        <li>
            <a href="https://t.me/{{ site.username }}">
                <span class="uk-margin-right" uk-icon="comment"></span> Telegram
            </a>
        </li>
        <li>
            <a href="https://medium.com/@{{ site.username }}">
                <span class="uk-margin-right" uk-icon="quote-right"></span> Medium
            </a>
        </li>
        <li>
            <a href="mailto:{{ site.email }}">
                <span class="uk-margin-right" uk-icon="mail"></span> Email
            </a>
        </li>
    </ul>
</div>