<div class="uk-light uk-background-custom" id="sidenav">
    <div class="bar-wrap">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="">
            <li class="uk-nav-header">
                <img class="uk-border-circle nav-logo" src="/assets/images/profile-32x32.jpg" alt="Erwindo Sianipar">
                Erwindo Sianipar
                <a href="#sidenav-close" class="menu uk-float-right" id="menu-sidenav" onclick="toggleSidenav()">
                    <button type="button" uk-close></button>
                </a>
            </li>
            <li class="uk-nav-header">Site map</li>
            <li><a href="/"><span class="uk-margin-right" data-feather="home">home</span>Home</a></li>
            <li><a href="/about"><span class="uk-margin-right" data-feather="info">info</span>About</a></li>
            <li><a href="/contact"><span class="uk-margin-right" data-feather="user">user</span>Contact</a></li>
            <li><a href="/resume"><span class="uk-margin-right" data-feather="file">file</span>Resume</a></li>
            <li><a href="/project"><span class="uk-margin-right" data-feather="box">box</span>Project</a></li>
            <li><a href="/blog"><span class="uk-margin-right" data-feather="edit-3">pencil</span>Blog</a></li>
            <li><a href="/award"><span class="uk-margin-right" data-feather="award">award</span>Award</a></li>
            <li><a href="/feed.xml"><span class="uk-margin-right" data-feather="rss">rss</span>Feed</a></li>
            <li class="uk-nav-header">Other links</li>
            <li>
                <a href="https://www.facebook.com/erwindoosianipar">
                    <span class="uk-margin-right" data-feather="facebook">facebook</span>Facebook
                </a>
            </li>
            <li>
                <a href="https://twitter.com/erwindosianipar">
                    <span class="uk-margin-right" data-feather="twitter">twitter</span>Twitter
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/erwindosianipar">
                    <span class="uk-margin-right" data-feather="instagram">instagram</span>Instagram
                </a>
            </li>
            <li>
                <a href="https://github.com/erwindosianipar">
                    <span class="uk-margin-right" data-feather="github">github</span>GitHub
                </a>
            </li>
            <li>
                <a href="https://gitlab.com/erwindosianipar">
                    <span class="uk-margin-right" data-feather="gitlab">gitlab</span>GitLab
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/erwindosianipar">
                    <span class="uk-margin-right" data-feather="linkedin">linkedin</span>LinkedIn
                </a>
            </li>
            <li>
                <a href="mailto:erwindosianipar@gmail.com">
                    <span class="uk-margin-right" data-feather="mail">mail</span>Email
                </a>
            </li>
        </ul>
    </div>
</div>
