---
layout: compress
---

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="/assets/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/autumn.css">
    <link rel="stylesheet" href="/assets/css/zoom.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16" href="/favicon.ico">
    <link rel="icon" sizes="32x32" href="/favicon.ico">
    <link rel="icon" sizes="64x64" href="/favicon.ico">
    <meta name="google-site-verification" content="9kBK_rp1o3t8RZDZMmRUv5nvPrWLIhYc_KehM1nzCg8" />
    {% if site.tags != "" %}
        {% include collecttags.html %}
    {% endif %}

</head>
<body>
    {% include sidenav.html %}

    <div id="content">
        <div class="uk-alert-primary uk-margin-remove-bottom uk-text-emphasis" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <div class="uk-card-header uk-padding-remove">
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-auto">
                        <span uk-icon="warning"></span>
                    </div>
                    <div class="uk-width-auto">
                        <div class="uk-text-bold">Coronavirus cases in indonesia</div>
                    </div>
                </div>
            </div>
            <div class="uk-card-header uk-padding-remove">
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-auto uk-margin-small-top">
                        Confirmed: <span class="uk-text-bold" id="positif"></span>
                        Recovered: <span class="uk-text-bold" id="sembuh"></span>
                        Deaths: <span class="uk-text-bold" id="meninggal"></span>
                    </div>
                </div>
            </div>
        </div>

        {% include navbar.html %}

        <div class="main-content uk-container uk-margin-bottom page-wrapper">
            {{ content }}
            {% include copyright.html %}
        </div>

    </div>

    {% include footer.html %}
</body>
</html>
