---
layout: default
---
<div id="scrollbar">
    <div id="scrollbar-bg"></div>
</div>

<h1 class="uk-margin-small-bottom uk-text-bold">{{ page.title | escape }}</h1>
<h2 class="uk-margin-remove-top uk-text-muted fs-20">{{ page.description | escape }}</h2>
{{ page.date | date: "%B %d, %Y" }} · {% include minread.html content=content %} · <a href="/blog/tag/{{ page.tags }}?ref=post/top"><b>#{{ page.tags }}</b></a>

<hr class="uk-divider-icon">

<img src="{{ page.image }}" data-action="zoom">
<div class="uk-text-center uk-text-small uk-text-muted uk-margin-small">{{ page.image-credit }}</div>

<div class="blog-post">
    <div class="uk-visible@l uk-float-right" style="z-index: 980;" uk-sticky="bottom: #offset">
        <div class="dropdown">
            <button onclick="dropdown()" class="dropdown-button">On this page <span uk-icon="chevron-down"></span></button>
            <div id="dropdown" class="dropdown-list">
                <ul id="toc" class="uk-list uk-list-square uk-margin-remove"></ul>
            </div>
        </div>
    </div>

    {{ content }}
</div>

{% include archive.html %}

{% if site.disqus.shortname %}
    {% include disqus.html %}
{% endif %}

<script>
    var images = document.getElementsByTagName("img");
    for (i = 0; i < images.length; i++) {
        images[i].setAttribute("data-action", "zoom");
    }
    var barBg = document.getElementById("scrollbar-bg");
    var body = document.body;
    var html = document.documentElement;

    barBg.style.minWidth = document.width + "px";

    document.getElementsByTagName("body")[0].onresize = function () {
        barBg.style.minWidth = document.width + "px";
    };

    window.onscroll = function () {
        var bar = document.getElementById("scrollbar");
        var dh = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
        var wh = window.innerHeight;
        var pos = pageYOffset || (document.documentElement.clientHeight ? document.documentElement.scrollTop : document.body.scrollTop);
        var bw = ((pos / (dh - wh)) * 100);

        bar.style.width = bw + "%";
    };

    var head = document.querySelectorAll("h3, h4, h5, h6");
    for (i = 0; i < head.length; i++) {
        head[i].classList.add("heading");
    }

    var toc = document.getElementsByClassName("heading");
    for (i = 0; i < toc.length; i++) {
        tocItem = '<li class="uk-margin-top"><a href=' + '#' + toc[i].getAttribute("id") + ' class="item">' + toc[i].innerHTML + '</a></li>';
        document.getElementById("toc").innerHTML += tocItem;
    }

    function dropdown() {
        document.getElementById("dropdown").classList.toggle("show");
    }
</script>

{% include anchor.html %}
